<table border="1">
  <tr>
    <td>Local media:<br/><div id="local-media"></div></td>
    <td>
        <button id="button-preview">Preview My Camera</button>
        <button id="button-join">Join Room</button>
        <button id="button-leave">Leave Room</button>
    </td>
  </tr>

  <tr>
    <td>Remote media:<br/> <div id="remote-media"></div></td>
    <td>
        <p class="instructions">Room Name:</p>
        <input id="room-name" type="text" placeholder="Enter a room name" />
    </td>
  </tr>

  <tr>
    <td>Log:</td>
    <td>
        <div id="log"></div>
    </td>
  </tr>
</table>

<br/>
  <div id="token" style="color:#000000">(token)</div>
  <div id="identity" style="color:#000000">(identity)</div>
