
<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12"> <!-- local camera - upper left -->

            <app-local-participant #localcamera></app-local-participant>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"> <!-- remote camera - lower left -->

            <app-remote-participant #remotecamera></app-remote-participant>

      </div>
    </div>
  </div>

  <div class="col-sm-8"> <!-- verbiage - right side -->

      Mission description
      <P>
      Legislator Info</P>
  </div>
</div>
