<app-menu></app-menu>

<div class="container">

    <div class="row">

        <div class="col-xs-6 col-md-6">

              <h3>Video Instructions</h3>

              <h4>How to Initiate a Video Call</h4>

              <div class="content">
              <span class="leadoff">Prerequisite</span> You should have already <span class="emphasize">been the guest</span> on a video call
              </div>

              <div class="content">
              <span class="leadoff">Prerequisite</span> You should already have the <span class="emphasize">TelePatriot</span> app
              </div>

              <div class="content">
              <span class="leadoff">Prerequisite</span> You should see <span class="emphasize">"Video Chat"</span> in the TelePatriot menu.  If you don't see "Video Chat", contact
              your state leadership and ask for this permission.
              </div>

              <div class="content">
              <span class="leadoff">Step 1</span> Get your guest's <span class="emphasize">mobile number</span>. Agree on a time to call.
              </div>

              <div class="content">
              <span class="leadoff">Step 2</span> <span class="emphasize"> Confirm</span> the guest's HD and SD. If not known, check <a href="https://openstates.org/find_your_legislator/" target="openstates">OpenStates.org</a>
              </div>

              <div class="content">
              <span class="leadoff">Step 3</span> <span class="emphasize"> Look up the legislator</span> on this page.  <span class="emphasize">Confirm</span> that TelePatriot has the correct legislator for the chosen district.
              </div>

              <div class="content">
              <span class="leadoff">Step 4</span> <span class="emphasize"> Confirm</span> that email address and social media handles are present/correct.  If not, add/update them on this page. <span class="emphasize">Focus on Facebook and Twitter handles. If they aren't listed, try to find them.</span>
              </div>

              <div class="content">
              <span class="leadoff">Step 5</span> <span class="emphasize"> Know</span> the representative's position on COS. <span class="emphasize">It's much more powerful if you mention their position on video</span>
              </div>


        </div>


        <div class="col-xs-5 col-md-6 col-xs-offset-1 col-md-offset-1 bigpad">
            <app-legislator-chooser></app-legislator-chooser>
        </div>

    </div>

</div>
