
<div class="container-fluid">
  <div class="row">
    <!-- only two main columns -->
    <div class="col-4">
      <div class="row">

        <!-- local participant -->
        <div class="col">
            <div id="preview" #preview style="width:30vw;">
                <div *ngIf="isInitializing">Loading preview... Please wait.</div>
            </div>
        </div>
        <!-- local participant -->

      </div>


      <div class="row">
        <!-- remote participant -->
        <div class="col">
            <div #list></div>
        </div>
        <!-- remote participant -->

      </div>
    </div>

    <!-- the 2nd main column where all the verbiage is -->
    <div class="col-7" style="overflow:scroll; height:100vh">

      <span *ngIf="!!vnode">
          <div class="row"><div class="col"><b>{{descriptionLabel}}</b></div></div>
          <div class="row"><div class="col">{{vnode.val['video_mission_description']}}</div></div>

          <div class="row" style="margin-top:20px;"><div class="col"><b>{{legislatorLabel}}</b></div></div>
          <div class="row">
            <div class="col">
              {{vnode.val['legislator_first_name']}} {{vnode.val['legislator_last_name']}} {{state}} {{chamber}} {{vnode.val['legislator_district']}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              FB: <a href="{{fbLink}}" target="fb">{{fbHandle}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              TW: <a href="{{twLink}}" target="tw">{{twHandle}}</a>
            </div>
          </div>


          <div class="row" style="margin-top:20px;"><div class="col"><b>{{videoTitleHeader}}</b></div></div>
          <div class="row"><div class="col">{{vnode.val['video_title']}}</div></div>

          <div class="row" style="margin-top:20px;"><div class="col"><b>{{youtubeVideoDescriptionHeader}}</b></div></div>
          <div class="row"><div class="col">{{vnode.val['youtube_video_description']}}</div></div>

          <div class="row" style="margin-top:20px;"><div class="col"><b>{{what_do_you_want_to_do_with_your_video}}</b></div></div>
          <div class="row">
            <div class="col">{{email_to_legislator_label}}</div>
            <div class="col">{{vnode.val['email_to_legislator']}}</div>
          </div>

          <div class="row">
            <div class="col">{{post_to_facebook_label}}</div>
            <div class="col">{{vnode.val['post_to_facebook']}}</div>
          </div>

          <div class="row">
            <div class="col">{{post_to_twitter_label}}</div>
            <div class="col">{{vnode.val['post_to_twitter']}}</div>
          </div>

          <!-- <div class="row"><div class="col">{{video_status}}</div></div> -->
      </span>


    </div>
    <!-- the 2nd main column where all the verbiage is -->

  </div>
</div>
