
  <!-- ******************************************************** -->
  <!-- iPhone users have to be on Safari, not any other browser -->
  <!-- ******************************************************** -->
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col">
                <div id="controls">
                  <div id="preview">
                    <div id="local-media"></div>
                  </div>
                </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- remote camera -->
          <div id="remote-media"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <!-- THIS IS WHERE ALL THE VERBIAGE GOES -->
      <button id="button-preview">Preview My Camera</button>


      <div id="room-controls">
        <p class="instructions">Room Name:</p>
        <input id="room-name" type="text" placeholder="Enter a room name" />
        <button id="button-join">Join Room</button>
        <button id="button-leave">Leave Room</button>
      </div>
      <div id="log"></div>

    </div>
  </div>
