
<!-- <div class="container-fluid"> -->
<table style="width:100%;height:100%">
  <tr style="width:100%;height:100%">
    <td style="width:35%">
      <table style="width:100%;height:100%">
        <tr style="width:100%;height:50%">
          <td style="width:100%;height:100%">
                        <app-settings #settings (settingsChanged)="onSettingsChanged($event)"></app-settings>
          </td>
        </tr>
        <tr style="width:100%;height:50%">
          <td style="width:100%;height:100%">
                      <!-- should be only 1, but can support multiple participants -->
                      <!-- participants begin -->
                      <app-participants #participants
                                      (leaveRoom)="onLeaveRoom($event)"
                                      (participantsChanged)="onParticipantsChanged($event)"
                                      [style.display]="!!activeRoom ? 'block' : 'block'"
                                      [activeRoomName]="!!activeRoom ? activeRoom.name : null"></app-participants>
                                      <!-- participants end -->


                      <!-- html of rooms component is suppressed - not needed -->
                      <app-rooms #rooms (roomChanged)="onRoomChanged($event)"
                             [activeRoomName]="!!activeRoom ? activeRoom.name : null"></app-rooms>
          </td>
        </tr>
      </table>
    </td>
    <td style="width:65%" valign="top">
      <div class="row">
        <div class="col"><b>Description</b></div>
      </div>
      <div class="row">
        <div class="col">
          <!-- needs to come from the database -->
            This is a video petition.  In a video petition, the one person must mention the legislator
            by name and must mention the legislator's position on COS
        </div>
      </div>

    </td>
  </tr>
</table>

<!-- </div> -->
